* {
    box-sizing: border-box;
}


.homepage-title {
    color: white;
    background-color: black;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: auto;
    width: 1600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    color: black;
    background-color: lightblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

.buttons {
    margin:auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.recipe-title {
    color: white;
    background-color: black;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.sub-title {
    color: white;
    background-color: black;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-sub-title {
    color: black;
    background-color: lightgrey;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: auto;
    width: 1600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.image {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

/* learn flex box if odin project doesnt show */